* {
    font-family: 'Open Sans' , sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: #5a5a5a
}

body {
    background-color: #fafafa;
    height: 100%;
}

.project-pic {
    width: 100%;
}

a:hover {
    color: #00bfff;
}

.nav li {
    background-color: #ffffff;
    margin: 10px 25px;
    padding: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.nav li a {
    text-decoration: none;
    display: block;
}

.nav li a:hover {
    text-decoration: line-through;
    color: #00bfff;
}

.nav-footer {
    display: none;
}

.nav-footer li a:hover {
    color: #00bfff;
}

.bio-pic {
    width: 70%;
    margin: 25px 15px 10px 15px;
}

.bio-text {
    font-weight: 600;
    line-height: 1.6;
    padding: 20px 15px 30px 15px;
    margin: 0px 15px 0px 15px;
    font-size: 18px;
    color: #8a8a8a;
}

.project-text {
    margin-bottom: 50px;
    line-height: 1.6;
}

.portfolio-container {
    background-color: #ffffff;
    padding: 25px;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    margin: 50px 0px 30px 0px;
}

h3 {
    font-weight: 600;
    padding: 5px 0px;
}

/* Skill container to do */

.contact-container {
    margin: 0 25px 40px 25px;
}

.contact-text {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #8a8a8a;
}

.contact-info {
    text-decoration: none;
    font-weight: 700;
    color:#7a7a7a;
}

.name {
    font-weight: 800;
    /* float: left; */
    display: inline-block;
    padding-bottom: 10px;
}

footer {
    margin: 20px;
    border-top: 1.2px solid #aca7a7;
}

.top {
    display: inline-block;
    text-decoration: none;
    float: right;
    margin: 15px 15px;
    font-weight: 800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
