* {
    box-sizing: border-box;
    text-align: center; 
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #4b4a4a;
    font-weight: 400;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

h1 {
    font-family: 'Leckerli One', sans-serif;
    font-size: 40px;
}

h2 {
   font-size: 1em;
   font-weight: 800;
   text-transform: uppercase;
   margin-top: 40px;
   margin-bottom: 40px; 
}

li {
    list-style: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    font-size: 20px;
}

h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #4b4a4a;
}

a:hover {
    text-decoration: line-through;
    color: #00bfff;
}

/* header,
main {
    text-align: center;
} */

.intro-picture {
    width: 65%;
}

.intro,
.contact {
    margin: 45px 0;
}

.intro p,
.contact p {
    color: #9c9b9b;
}

.fewd {
    color: #00bfff;
    font-weight: 600;
}

.col {
    margin-bottom: 40px;
}

.col-picture {
    width: 100%;
}

.col-text {
    padding: 0 40px 0 40px;
}

/* .testimonial {
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 20px;
}

.testimonial-client {
    border-top: 2px solid #2572AA;
    padding-top: 20px;
  } */

  .main-footer {
      font-size: 1em;
      border-top: 1px solid #d8d6d6;
      margin-top: 60px;
      padding: 25px 0 25px 0;
  }

  .name-footer {
      float: left;
      font-weight: 700;
  }

  .main-nav {
      text-transform: uppercase;
      background: #fff;
      padding: 10px;
      margin-bottom: 5px;
  }

  .main-nav a li {
      display: block;
  }

 .footer-nav {
     text-transform: uppercase;
     float: right;
 }

 .footer-meniu {
     display: none;
 }

 .container {
     margin: 0 20px 0 20px;
 }