/* Base Element Styles */

* {
    box-sizing: border-box;
}

body {
   font-family: 'Open-Sans', sans-serif;
   font-weight: 300; 
   line-height: 1.6;
   color: #3a3a3a;
   background: #f9f9f9;
}

header,
main {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
font-size: 1em;
font-weight: 800;
margin-bottom: 50px;
margin-top: 50px;
text-transform: uppercase;
}

h3 {
   font-weight: 500; 
   margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3a3a3a
}

a:hover {
    color: #00bfff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Class styles */

.intro-picture {
    width: 80%;
}

.intro {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fed {
    color: #00bfff;
    font-weight: 600;
}

.col {
    margin-bottom: 40px;
}

.col-picture, {
    width: 100%;
}

.col-text {
    padding-left: 3%;
    padding-right: 3%;
}

.main-footer {
   border-top: 1px solid #d1cece; 
   font-size: 1em;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-top: 40px;
}

.name-footer {
    float: left;
    font-weight: 800;
    margin-bottom: 20px;
}

/* Navigation */

.main-nav li {
    font-size: 1em;
    font-weight: 600;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 5px;
}

.main-nav li a {
    display: block;
}

.footer-nav {
    float: right;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-bar {
    display: none;
}

/* Layout Containers */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.main-box {
    background: #fff;
    padding: 10px 15px 30px 15px;
}

/* Float Clearfix */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
  /* Media Queries */

 @media (min-width: 768px) {

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-box {
        padding-left: 20px;
        padding-right: 20px;
    }

    .name {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .main-nav li {
        display: inline-block;
        background: none;
        padding: 20px;
    }

    .intro-text {
        float: left;
        width: 50%;
        text-align: left;
        font-size: 1.15em;
    }

    .intro-picture {
        float: right;
        width: 50%;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .col {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .col-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    .contact {
        width: 65%;
        margin: auto;
    }

    .contact-text {
        font-size: 1.1em;
        padding-bottom: 25px;
    }

    .nav-bar {
        display: inline-block;
    }

    .nav-bar a {
        padding-left: 20px;
    }

    .back-top {
        display: none;
    }
 }

 @media (min-width: 1024px) {

    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .main-box {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .name {
        float: left;
    }

    .main-nav li {
        padding: 20px 0 0 40px;
    }

    .main-nav {
        float: right;
        margin-top: 50px;
    }

    .col {
        width: 33%;
        padding: 10px;
    }

    .col-text {
        padding-left: 6%;
        padding-right: 6%;
    }

    .contact {
        width: 45%;
        margin: auto;
    }


 }


